.comp-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  border: none;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: 600;
  background-color: var(--accent-ligth);
  font-size: var(--normal);
  text-transform: uppercase;
  transition: all 400ms ease-in-out;
  color: var(--dark-main);
}

.comp-button:nth-of-type(2) {
  background-color: var(--ligth-main);
}

.comp-button a {
  color: var(--dark-main);
}

.comp-button:hover {
  box-shadow: 5px 5px var(--accent);
  transition: all 400ms ease-in-out;
  transform: scale(1.02);
}

.comp-button:nth-of-type(2):hover {
  box-shadow: 5px 5px var(--clear-ligth);
}

.comp-button:hover svg {
  animation: movement 600ms ease-in-out;
}

/* MaterialUI override */

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: var(--dark-main) !important;
  border-radius: 20px !important;
}
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
  color: var(--clear-white) !important;
}

.css-qfso29-MuiTypography-root-MuiDialogContentText-root {
  font-family: "Raleway", sans-serif !important;
  font-weight: 500 !important;
  color: var(--clear-white) !important;
}

.css-1hny3k0-MuiButtonBase-root-MuiButton-root,
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: var(--accent-ligth) !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 700 !important;
}

@keyframes movement {
  50% {
    rotate: 20deg;
  }

  100% {
    rotate: -20deg;
  }
}
