#comp-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 600;
  background-color: var(--accent);
  font-size: var(--normal);
  text-transform: uppercase;
  transition: all 400ms ease-in-out;
}

#comp-button a {
  color: var(--dark-main);
}

#comp-button:hover {
  background-color: var(--accent-ligth);
  box-shadow: 10px 5px var(--ligth-main);
  transition: all 400ms ease-in-out;
  transform: scale(1.02);
}

#comp-button:hover .icon {
  animation: movement 600ms ease-in-out;
}

@keyframes movement {
  50% {
    rotate: 20deg;
  }

  100% {
    rotate: -20deg;
  }
}
