@media screen and (max-width: 970px) {
  /* About me responsive */

  #root {
    gap: 25px !important;
  }

  .aboutme-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .picture-container {
    order: -1;
    transform: scale(0.7) !important;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutme-body {
    text-align: center;
    word-wrap: break-word;
    width: 85%;
  }

  /* Education responsive */

  .education-container {
    justify-content: center;
    align-items: center;
  }

  .study-card {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .study-card p {
    width: 80%;
    word-wrap: break-word;
  }

  /* Footer responsive */

  .contact-me {
    gap: 20px;
  }

  .contact-me {
    text-align: center;
  }

  /* Skills responsive */

  .skills-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .skills-card-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .programming-languages,
  .front-end,
  .graphic-design,
  .other-tools {
    justify-content: center;
    align-items: center;
  }

  .languages,
  .front-end-frameworks,
  .design,
  .tools {
    justify-content: center;
    align-items: center;
    column-gap: 25px;
  }

  .skills-card {
    padding: 10px;
  }

  /* Projects responsive */

  .projects-container {
    align-items: center;
  }

  .project-description p {
    width: 90%;
    word-wrap: break-word;
  }

  /* Not found */
  .not-found {
    text-align: center;
  }
  .not-found p {
    text-align: center;
  }
  .not-found .heading {
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  /* Hamburguer menu */
  .desktop-menu {
    display: none;
  }

  .hamburguer-container,
  .hamburguer-menu {
    display: flex;
  }

  /* Education responsive */

  .cards-container {
    overflow: auto;
    padding: 0;
  }

  .education-container {
    height: auto;
  }

  .education-container h1 {
    text-align: center;
  }

  /* Skills responsive */

  .skills-card {
    box-shadow: none !important;
  }

  .languages,
  .front-end-frameworks,
  .design,
  .tools {
    column-gap: 10px;
  }

  /* Education responsive */

  .projects-container {
    overflow: auto;
    padding: 0;
    height: auto;
  }

  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-description {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .certificate-container {
    width: 95%;
    padding: 55px 0px 15px 0;
  }

  .certificate-container img {
    object-fit: contain;
    width: 95%;
    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  /* Footer */
  .contact-me {
    flex-direction: column;
    gap: 10px;
  }

  .project-preview {
    width: 200px;
  }

  .project-description {
    gap: 15px;
  }

  .buttons-container {
    flex-direction: column;
  }
}
