:root {
  /* Dark Palette */
  --dark-main: #1f1d2e;
  --ligth-main: #ebbcba;
  --clear-ligth: #ebbcba9f;
  --accent: #31748f;
  --accent-dark: #28485f;
  --accent-ligth: #7bb8d1;
  --clear-white: #c4c4c4;
  /* Typo */
  --main-heading: 40px;
  --sub-heading: 25px;
  --medium: 20px;
  --normal: 16px;
  --small: 14px;
}
