:root {
  /* Dark Palette */
  --dark-main: #1f1d2e;
  --ligth-main: #ebbcba;
  --clear-ligth: #ebbcba9f;
  --accent: #31748f;
  --accent-dark: #28485f;
  --accent-ligth: #7bb8d1;
  --clear-white: #eeeeee;
  /* Typo */
  --main-heading: 40px;
  --sub-heading: 25px;
  --medium: 20px;
  --normal: 16px;
  --small: 14px;
  /* New styles */
  --mint-50: #95deca;
  --mint-100: #00b08f;
  --mint-150: #0c7e69;
  --mint-200: #003f35;
  --mint-300: #012229;
  --mint-400: #011722;
  --purple-100: #7628af;
  --purple-200: #2e235b;
  --purple-300: #1f1d2e;
  --neutral-100: #edf6fd;
  --neutral-200: #dfeef8d7;
  --neutral-300: #799fb6;
}
