.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1f1d2ee8;
  z-index: 2;
}
.certificate-container {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  min-width: 280px;
  max-width: 1000px;
  padding: 50px 0px 15px 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark-main);
  border: 2px solid var(--ligth-main);
  border-radius: 15px;
}

.certificate-close {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 13px;
  color: var(--ligth-main);
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--ligth-main);
  transition: all 200ms ease;
}

.certificate-close:hover {
  background-color: var(--ligth-main);
  color: var(--dark-main);
  transition: all 200ms ease;
}

.certificate-container img {
  height: 600px;
  width: 90%;
  border-radius: inherit;
  object-fit: fill;
}

.certificate-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--ligth-main);
  transition: all 200ms ease-in-out;
}

.certificate-link:hover {
  color: var(--clear-ligth);
  transition: all 200ms ease-in-out;
}

.certificate-skeleton {
  border-radius: inherit;
  height: 0;
  overflow: hidden;
  padding-top: 60%;
  position: relative;
}
