.hamburguer-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 5px;
  width: 40px;
  height: 40px;
}

.hamburguer-container div {
  pointer-events: none;
  width: 80%;
  height: 3px;
  background-color: var(--mint-100);
  transition: all 300ms ease;
}

.hamburguer-active div:nth-child(2) {
  opacity: 0;
}

.hamburguer-active div:nth-child(1) {
  transform: rotate(-45deg) translateX(-10px);
}

.hamburguer-active div:nth-child(3) {
  transform: rotate(45deg) translateX(-10px);
}

.hamburguer-menu {
  display: none;
  position: absolute;
  background-color: var(--mint-400);
  border: 2px solid var(--mint-100);
  padding: 60px 20px 60px 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: calc(100% - 100px);
  z-index: 2;
  transform: translateX(-100vw);
  transition: all 200ms ease-in-out;
}

.hamburguer-menu .un-list {
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  text-align: left;
}

.hamburguer-menu-shown {
  transform: translateX(0);
}

header {
  width: 100%;
}

.un-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.item-list {
  cursor: pointer;
  position: relative;
}

.item-link {
  font-family: "Cabin", sans-serif;
  color: var(--mint-50);
  font-size: var(--normal);
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 150ms ease-in-out;
}

.item-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  height: 2px;
  width: 40%;
  background-color: var(--mint-150);
  transition: all 200ms ease;
}

.item-link:hover {
  color: var(--mint-100);
  transition: all 150ms ease-in-out;
}

.item-link:hover::before {
  width: 100%;
  transition: all 200ms ease;
}

.active {
  color: var(--mint-100);
}

.active::before {
  width: 100%;
}
