footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  border-top: 1px solid var(--mint-150);
  padding-top: 25px;
  font-size: var(--small);
  font-weight: 400;
}

.contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-self: center;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--mint-100);
  transition: color 200ms ease-in;
}

.contact-link:hover {
  color: var(--mint-150);
  transition: color 200ms ease-in;
}

.linkedin-icon,
.github-icon {
  color: var(--mint-50);
}
