@media screen and (max-width: 970px) {
  /* About me responsive */

  #root {
    gap: 25px !important;
  }

  .aboutme-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .picture-container {
    order: -1;
    transform: scale(0.7) !important;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutme-body {
    text-align: center;
    word-wrap: break-word;
    width: 85%;
  }

  /* Education responsive */

  .education-container {
    justify-content: center;
    align-items: center;
  }

  .study-card {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .study-card p {
    width: 80%;
    word-wrap: break-word;
  }

  /* Footer responsive */

  .contact-me {
    gap: 20px;
  }

  .made-with {
    flex-direction: column;
    gap: 10px;
    display: none;
  }

  .contact-me,
  .made-with {
    text-align: center;
  }

  /* Skills responsive */

  .skills-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .skills-card-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .programming-languages,
  .front-end,
  .graphic-design,
  .other-tools {
    justify-content: center;
    align-items: center;
  }

  .languages,
  .front-end-frameworks,
  .design,
  .tools {
    justify-content: center;
    align-items: center;
    column-gap: 55px;
  }

  .skills-card {
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  /* Hamburguer menu */
  .desktop-menu {
    display: none;
  }

  .hamburguer-container,
  .hamburguer-menu {
    display: flex;
  }

  /* Education responsive */

  .cards-container {
    overflow: auto;
    padding: 0;
  }

  .education-container {
    height: auto;
  }

  .education-container h1 {
    text-align: center;
  }

  /* Skills responsive */

  .skills-card {
    box-shadow: none !important;
  }

  .languages,
  .front-end-frameworks,
  .design,
  .tools {
    column-gap: 10px;
  }
}
