.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding-right: 20px;
}

.skills-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
}

.programming-languages,
.front-end,
.other-tools,
.graphic-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.category-heading {
  color: var(--clear-white);
  font-size: var(--sub-heading);
}

.languages,
.front-end-frameworks,
.tools,
.design {
  display: flex;
  column-gap: 25px;
  row-gap: 10px;
  flex-wrap: wrap;
}
