.aboutme-body {
    color: var(--clear-white);
    font-size: var(--normal);
    text-align: left;
    line-height: 25px;
    word-spacing: 6px;
    font-weight: 300;
    width: 60ch;
    margin-top: 20px;
    letter-spacing: .5px;
}

.heading {
    color: var(--ligth-main);
    font-size: var(--main-heading);
    font-weight: 700;
}

.subheading {
    color: var(--clear-ligth);
    font-size: var(--sub-heading);
    font-weight: 600;
    margin-bottom: 10px;
}